
/**
 * -------------------
 *  Defult CSS
 * -------------------
 */

html {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: "Raleway", serif;
    font-size: 14px;
    font-style: none;
    line-height: 24px;
    font-weight: 500;
    overflow-x: hidden !important;
    text-align: left;
    position: relative;
    color: #999999;
    opacity: 0.9;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Raleway", serif;
}

p {
    opacity: 0.9;
}

.nav li a {
    text-decoration: none !important;
    display: inline-block;
    cursor: pointer;
    padding: 0px;
    background-color: transparent;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

.nav li a:hover {
    background-color: transparent;
}

.nav li a:focus {
    background-color: transparent;
    outline: 0 !important;
}

a {
    text-decoration: none !important;
    cursor: pointer;
    padding: 0px;
    background-color: transparent;
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    color: #000;
    opacity: 0.9;
}

a:hover {
    background-color: transparent;
}

a:focus {
    background-color: transparent;
    outline: 0 !important;
}

.center {
    float: none;
    margin: 0 auto;
    text-align: center;
}

/**
 * ---------------------
 *  Defult Halping Class
 * ---------------------
 */
.overflow {
    overflow: hidden;
}

.relative {
    position: relative;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-flex {
    display: flex;
    flex: 1;
}

.vertical-middle {
    display: table-cell;
    float: none;
    vertical-align: middle;
}

/**
 * ---------------------
 *   Defult Button Style
 * ---------------------
 */
.btn {
    -moz-transition: color 0.3s ease;
    -o-transition: color 0.3s ease;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    outline: 0;
    padding: 8px 30px;
    font-weight: bold;
    /* border-radius: 20px; */
}

.btn.btn-fill {
    background-color: #0bceaf;
    color: #fff;
}

/**
 * -----------------
 * Social Icon Style
 * -----------------
 */
.social-icon {
    display: inline-block;
}

.social-icon li {
    list-style: none;
    float: left;
    margin-bottom: 0px;
    margin-right: 8px;
}

.social-icon li a {
    text-align: center;
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 50%;
}

.social-icon li:last-child a {
    margin-right: 0px;
}


/**
 * ------------------
 * list
 * ------------------
 */
ul {
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
}

/**
 * ---------------------------------
 *  Section Background Size Property
 * ---------------------------------
 */

.section-separator {
    padding: 100px 0;
}


.image-bg {
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center center;
}

.home-2-img {
    background-image: url(../images/home-bg-img.jpg);
}

.featured-img-one {
    background-image: url(../images/home-bg-img.jpg);
}

.featured-img-two {
    background-image: url(../images/extra-feature-bg.jpg);
}

.map-image {
    background-image: url(../images/map-color-overlay.png);
}

button {
    outline: 0;
}

button:hover {
    outline: 0;
}

button:focus {
    outline: 0;
}

.btn {
    outline: 0;
}

.btn:hover {
    outline: 0;
}

.btn:focus {
    outline: 0;
}


/**
 * -----------------
 * General CSS
 * -----------------
 */
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
}

 a {
    color: #000;
}

h2 {
    color: #000;
}

h3 {
    color: #000;
}

h4 {
    color: #000;
}

h5 {
    color: #000;
}

h6 {
    color: #000;
}

p {
    color: #000;
}

address {
    color: #000;
}

span {
    color: #000;
}

ul li {
    color: #000;
}

div {
    color: #000;
}

.form-control {
    color: #000;
}

.nav-strict {
    background-color: #fff;
}

.img-color-overlay {
    background-color: rgba(255, 255, 255, 0.9);
}

.codearif-home .codearif-header-info .codearif-promo span {
    color: #fff;
}

.mh-project-gallery .grid-item figure figcaption a {
    color: #fff;
}

.mh-project-gallery .grid-item figure figcaption .title {
    color: #fff;
}

.mh-project-gallery .grid-item figure figcaption .sub-title {
    color: #fff;
}

.codearif-portfolio-modal {
    background: #fff !important;
}

.page-item.active .page-link {
    background-color: #fff;
    border-color: #fff;
    color: #0bceaf;
}

.navbar-toggler .icon,
.navbar-toggler .icon::after,
.navbar-toggler .icon::before {
    background-color: #000;
}

.mh-header .navbar-nav li a {
    color: #000;
    opacity: 0.8;
}

.codearif-home .codearif-header-info .social-icon li .fa:hover {
    background-color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
span,
q {
    opacity: 0.8;
}

.mh-header .navbar-nav li.active a {
    padding-right: 0;
    padding-left: 0;
    border-color: #000;
}

.mh-header.nav-3 .navbar-nav li.active a {
    border-color: transparent;
}


.codearif-blog .codearif-blog-item .blog-inner h2 a {
    color: #202026;
}

.shadow-1 {
    box-shadow: 0px 10px 20px 4px #00000015;
}

.mh-pricing .mh-pricing {
    box-shadow: 0px 10px 20px 4px #00000015;
}

.codearif-blog .codearif-blog-item {
    box-shadow: 0px 10px 20px 4px #00000015;
}


body {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/
.header {
    color: #444444;
    transition: all 0.5s;
    z-index: 997;
    background-color: #ffffff;
}

.header .topbar {
    background-color: #0bceaf;
    height: 40px;
    padding: 0;
    font-size: 14px;
    transition: all 0.5s;
}

.header .topbar .contact-info i {
    font-style: normal;
    color: #000;
}

.contact-line{
    font-family: "Raleway", serif;
}

.header .topbar .contact-info i a,
.header .topbar .contact-info i span {
    padding-left: 5px;
    color: #000;
}

@media (max-width: 575px) {

    .header .topbar .contact-info i a,
    .header .topbar .contact-info i span {
        font-size: 13px;
    }
}

.header .topbar .contact-info i a {
    line-height: 0;
    transition: 0.3s;
}

.header .topbar .contact-info i a:hover {
    color: #000;
    text-decoration: underline;
}

.header .topbar .social-links a {
    color: color-mix(in srgb, #000, transparent 10%);
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;
}

.header .topbar .social-links a:hover {
    color: #ffffff;
}

.header .branding {
    background-color: #f5f9ff;
    min-height: 60px;
    padding: 10px 0;
}

.header .logo {
    line-height: 1;
}

.header .logo img {
    max-height: 36px;
    margin-right: 8px;
}

.header .logo h1 {
    font-size: 30px;
    margin: 0;
    font-weight: 700;
    color: #000;
}

.scrolled .header {
    box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}

.scrolled .header .topbar {
    height: 0;
    visibility: hidden;
    overflow: hidden;
}

/*--------------------------------------------------------------
  # Navigation Menu
  --------------------------------------------------------------*/
/* Navmenu - Desktop */
@media (min-width: 1199px) {
    #navmenu ul {
        display: flex !important;
    }
}

@media (min-width: 1200px) {
    .navmenu {
        padding: 0;
    }

    .navmenu ul {
        margin: 0;
        padding: 0;
        display: flex;
        list-style: none;
        align-items: center;
    }

    .navmenu li {
        position: relative;
    }

    .navmenu a,
    .navmenu a:focus {
        color: #222222;
        padding: 18px 15px;
        font-size: 15px;
        font-family: "Raleway", serif;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        transition: 0.3s;
    }

    .navmenu a i,
    .navmenu a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
        transition: 0.3s;
    }

    .navmenu li:last-child a {
        padding-right: 0;
    }

    .navmenu li:hover>a,
    .navmenu .active,
    .navmenu .active:focus {
        color: #0bceaf;
    }

    .navmenu .dropdown ul {
        margin: 0;
        padding: 10px 0;
        background: #ffffff;
        display: block;
        position: absolute;
        visibility: hidden;
        left: 14px;
        top: 130%;
        opacity: 0;
        transition: 0.3s;
        border-radius: 4px;
        z-index: 99;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }

    .navmenu .dropdown ul li {
        min-width: 200px;
    }

    .navmenu .dropdown ul a {
        padding: 10px 20px;
        font-size: 15px;
        text-transform: none;
        color: #222222;
    }

    .navmenu .dropdown ul a i {
        font-size: 12px;
    }

    .navmenu .dropdown ul a:hover,
    .navmenu .dropdown ul .active:hover,
    .navmenu .dropdown ul li:hover>a {
        color: #0bceaf;
    }

    .navmenu .dropdown:hover>ul {
        opacity: 1;
        top: 100%;
        visibility: visible;
    }

    .navmenu .dropdown .dropdown ul {
        top: 0;
        left: -90%;
        visibility: hidden;
    }

    .navmenu .dropdown .dropdown:hover>ul {
        opacity: 1;
        top: 0;
        left: -100%;
        visibility: visible;
    }
}

/* Navmenu - Mobile */
@media (max-width: 1199px) {
    .mobile-nav-toggle {
        color: #222222;
        font-size: 28px;
        line-height: 0;
        margin-right: 10px;
        cursor: pointer;
        transition: color 0.3s;
    }

    .navmenu {
        padding: 0;
        z-index: 9997;
    }

    .navmenu ul {
        display: none;
        list-style: none;
        position: absolute;
        inset: 60px 20px 20px 20px;
        padding: 10px 0;
        margin: 0;
        border-radius: 6px;
        background-color: #ffffff;
        overflow-y: auto;
        transition: 0.3s;
        z-index: 9998;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
    }

    .navmenu a,
    .navmenu a:focus {
        color: #222222;
        padding: 10px 20px;
        font-family: "Raleway", serif;
        font-size: 17px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: space-between;
        white-space: nowrap;
        transition: 0.3s;
    }

    .navmenu a i,
    .navmenu a:focus i {
        font-size: 12px;
        line-height: 0;
        margin-left: 5px;
        width: 30px;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: 0.3s;
        background-color: color-mix(in srgb, #0bceaf, transparent 90%);
    }

    .navmenu a i:hover,
    .navmenu a:focus i:hover {
        background-color: #0bceaf;
        color: #ffffff;
    }

    .navmenu a:hover,
    .navmenu .active,
    .navmenu .active:focus {
        color: #0bceaf;
    }

    .navmenu .active i,
    .navmenu .active:focus i {
        background-color: #0bceaf;
        color: #ffffff;
        transform: rotate(180deg);
    }

    .navmenu .dropdown ul {
        position: static;
        display: none;
        z-index: 99;
        padding: 10px 0;
        margin: 10px 20px;
        background-color: #ffffff;
        border: 1px solid color-mix(in srgb, #ffffff, transparent 90%);
        box-shadow: none;
        transition: all 0.5s ease-in-out;
    }

    .navmenu .dropdown ul ul {
        background-color: rgba(33, 37, 41, 0.1);
    }

    .navmenu .dropdown>.dropdown-active {
        display: block;
        background-color: rgba(33, 37, 41, 0.03);
    }

    .mobile-nav-active {
        overflow: hidden;
    }

    .mobile-nav-active .mobile-nav-toggle {
        color: #fff;
        position: absolute;
        font-size: 32px;
        top: 15px;
        right: 15px;
        margin-right: 0;
        z-index: 9999;
    }

    .mobile-nav-active .navmenu {
        position: fixed;
        overflow: hidden;
        inset: 0;
        background: rgba(33, 37, 41, 0.8);
        transition: 0.3s;
    }

    .mobile-nav-active .navmenu>ul {
        display: block;
    }
}


/*--------------------------------------------------------------
# Scroll Top Button
--------------------------------------------------------------*/
.scroll-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 99999;
    background-color: #000;
    width: 40px;
    height: 40px;
    border-radius: 4px;
    transition: all 0.4s;
}

.scroll-top i {
    font-size: 15px;
    color: #ffffff;
    line-height: 0;
    text-align: center;
}

.scroll-top:hover {
    background-color: color-mix(in srgb, #029a80, transparent 20%);
    color: #ffffff;
}

.scroll-top.active {
    visibility: visible;
    opacity: 1;
}


/*
    ==============
       HOME
    ==============
*/
.codearif-home .codearif-header-info .codearif-promo {
    margin-bottom: 30px;
}

.codearif-home .codearif-header-info .codearif-promo span {
    background-color: #0bceaf;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 10px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.codearif-home .codearif-header-info {
    padding-top: 20px;
}

.codearif-home .codearif-header-info h2 {
    font-size: 60px;
    font-weight: 600;
    line-height: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.codearif-home .codearif-header-info h4 {
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 30px;
}

.codearif-home .codearif-header-info ul {
    margin-top: 20px;
}

.codearif-home .codearif-header-info ul li {
    margin: 10px 0;
}

.codearif-home .codearif-header-info ul li .fa {
    margin-right: 15px;
    display: inline-block;
}

.codearif-home .codearif-header-info ul li address {
    display: inline-block;
}

.codearif-home .codearif-header-info ul li:hover .fa {
    color: #0bceaf;
}

.codearif-home .codearif-header-info .social-icon {
    margin-top: 0;
}

.codearif-home .codearif-header-info .social-icon li .fa {
    font-size: 18px;
    line-height: 30px;
    padding: 4px 14px;
    margin-right: 10px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 3px;
}

.codearif-home .codearif-header-info .social-icon li .fa:hover {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.codearif-home .codearif-header-info .social-icon li a {
    font-size: 25px;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 0;
    margin-right: 0;
    border-radius: 50%;
}

.codearif-home .hero-img {
    margin: 0 auto;
    float: none;
    margin-top: 30px;
    text-align: center;
}

.codearif-home .hero-img img {
    margin: 0 auto;
    float: none;
    text-align: center;
    border: 10px solid #0bceae43;
    border-radius: 50%;
}

.codearif-home .img-border {
    height: 400px;
    width: 400px;
    border: 10px solid #0bceae19;
    margin: 0 auto;
    border-radius: 50%;
}

/*
    ==============
       ABOUT
    ==============
*/
.codearif-about .codearif-about-inner {
    padding-left: 50px;
}

.codearif-about .codearif-about-inner h2 {
    margin-bottom: 20px;
    margin-top: 20px;
}

.codearif-about .codearif-about-inner p {
    margin-bottom: 30px;
}

.codearif-about .codearif-about-inner .btn {
    margin-top: 20px;
}

.codearif-about .codearif-about-inner .btn .fa {
    margin-left: 10px;
}

.codearif-about-tag {
    word-break: break-all;
    margin-bottom: 10px;
    margin-top: 10px;
}

.codearif-about-tag ul li {
    margin: 0px 6px;
    border-radius: 4px;
    margin-bottom: 10px;
    padding: 4px 0px;
    display: inline-block;
}

.codearif-about-tag ul li span {
    border: 1px solid #0bceaf;
    padding: 4px 10px;
    border-radius: 4px;
}

.codearif-about-tag ul li span:hover {
    background-color: transparent !important;
}

/*
    ==============
      Portfolio
    ==============
*/
.portfolio-nav {
    margin: 0 auto;
    margin-bottom: 40px;
}

.portfolio-nav ul {
    margin: 0 auto;
    float: none;
    text-align: center;
}

.portfolio-nav ul li {
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}

.portfolio-nav ul li:hover {
    color: #0bceaf;
}

.portfolio-nav ul li.active {
    color: #0bceaf;
}

.codearif-portfolio-modal {
    display: none;
    background: #282828;
}

.codearif-portfolio-modal-inner {
    max-height: 500px;
    overflow-y: scroll;
    margin-right: 20px;
}

.codearif-portfolio-modal-inner::-webkit-scrollbar-track {
    border: 1px solid #000;
    padding: 2px 0;
    background-color: #fff;
}

.codearif-portfolio-modal-inner::-webkit-scrollbar {
    width: 10px;
}

.codearif-portfolio-modal-inner::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 10px #000;
}

.codearif-portfolio-modal-inner h2 {
    margin-top: 10px;
    margin-bottom: 20px;
}

.codearif-portfolio-modal-img img {
    margin-bottom: 20px;
}

.mix {
    display: none;
}

/*
    ==============
       BLOG
    ==============
*/
.codearif-blog .codearif-blog-item {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 10px 10px 0px 0px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 30px;
}

.codearif-blog .codearif-blog-item:hover {
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.codearif-blog .codearif-blog-item .blog-inner {
    padding: 0px 20px;
    padding-bottom: 30px;
}

.codearif-blog .codearif-blog-item .blog-inner h2 a {
    color: #000;
}

.codearif-blog .codearif-blog-item .blog-inner a {
    color: #0bceaf;
}

.codearif-blog .codearif-blog-item img {
    margin-bottom: 30px;
}

.codearif-blog .codearif-blog-item h2 {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
}

.codearif-blog .codearif-blog-item h2 a {
    color: #0bceaf;
}

.codearif-blog .codearif-blog-item h2 a:hover {
    color: #0ac4a7;
}

/*
    ==============
       MH VIDEO
    ==============
*/
/* .mh-video .each-video {
    padding-top: 30px;
    padding-bottom: 30px;
}
.mh-video .each-video p {
    margin-top: 20px;
    padding: 0 160px;
}
.mh-video .each-video .fa {
    background-color: #fff;
    border-radius: 50%;
    color: black;
    height: 40px;
    width: 40px;
    margin-top: 20px;
    line-height: 40px;
    text-align: center;
} */

/*
    ==============
       QUATES
    ==============
*/
.mh-quates .each-quates {
    padding-top: 30px;
    padding-bottom: 30px;
}

.mh-quates .each-quates p {
    margin-top: 20px;
}

.mh-quates .each-quates .fa {
    background-color: #fff;
    border-radius: 50%;
    color: black;
    height: 40px;
    width: 40px;
    margin-top: 20px;
    line-height: 40px;
    text-align: center;
}

/*
    ==============
       VIDEO
    ==============
*/
/* .mh-video .each-video {
    padding: 30px 0;
}
.mh-video .each-video p {
    margin-top: 20px;
}
.mh-video .each-video .fa {
    background-color: #fff;
    border-radius: 50%;
    color: black;
    height: 40px;
    width: 40px;
    margin-top: 20px;
    line-height: 40px;
    text-align: center;
} */

/*
    =================
       TESTIMONIAL
    =================
*/
.mh-testimonial.mh-single-testimonial .mh-client-item p {
    padding: 0 160px;
    margin: 60px 0;
}

.mh-testimonial.mh-2-testimonial .mh-client-item p {
    padding: 0 0px;
    margin: 20px 0;
}

.mh-testimonial .mh-client-item {
    margin: 0 auto;
    float: none;
    text-align: center;
    padding: 30px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.mh-testimonial .mh-client-item img {
    width: inherit;
    float: none;
    margin: 0 auto;
    border: 5px solid #0bceaf;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 50%;
}

.mh-testimonial .mh-client-item p {
    margin: 10px 0;
}

.mh-testimonial .mh-client-item p::before {
    content: open-quote;
    margin-right: 6px;
    font-size: 20px;
}

.mh-testimonial .mh-client-item p::after {
    content: close-quote;
    margin-left: 6px;
    font-size: 20px;
}

.mh-testimonial .mh-client-item h4 {
    font-size: 16px;
    line-height: 25px;
    margin-top: 30px;
    margin-bottom: 0;
}

.mh-testimonial .mh-client-item span {
    font-size: 14px;
    line-height: 24px;
}

.mh-testimonial .each-client-item {
    margin: 30px 20px;
}

.mh-testimonial .owl-controls .owl-nav {
    display: none !important;
}

.mh-testimonial .owl-controls .owl-dots {
    padding-left: 15px;
    margin-top: 30px;
    text-align: center;
}

.mh-testimonial .owl-controls .owl-dots .owl-dot {
    height: 15px;
    width: 15px;
    border: 1px solid #0bceaf;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
}

.mh-testimonial .owl-controls .owl-dots .owl-dot.active {
    background-color: #0bceaf;
}


/*
    ============
    Footer Address
    ==============
*/
.contact-address {
    margin-bottom: 60px;
}

.contact-address .address-item {
    padding: 15px;
    text-align: center;
    margin-bottom: 10px;
}

.contact-address .address-item h4 {
    margin-bottom: 10px;
}

.contact-address .address-item address {
    margin-bottom: 0;
}

.contact-address .address-item .each-icon {
    margin-bottom: 10px;
}

.contact-address .address-item .each-icon .fa {
    text-align: center;
    width: 100px;
    height: 100px;
    border: 1.5px solid;
    border-radius: 50%;
    line-height: 100px;
    font-size: 20px;
    border-color: #0bceaf;
}


/*
====================
   PORTFOLIO
===================
*/
.grid-item {
    margin-bottom: 20px;
}

.portfolio-nav {
    text-align: center;
    margin-bottom: 50px;
}

.portfolio-nav ul li {
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
}

.portfolio-nav ul li span {
    padding: 15px 0;
    border-bottom: 2px solid transparent;
}

.portfolio-nav ul li.current span {
    border-bottom: 2px solid #0bceaf;
}

.mh-project-gallery .grid-item figure {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.mh-project-gallery .grid-item figure img {
    position: relative;
    width: 100%;
    display: block;
}

.mh-project-gallery .grid-item figure figcaption {
    position: absolute;
    padding: 15px;
    height: 100%;
    width: 100%;
    top: auto;
    left: 0;
    color: #fff;
    bottom: 0;
    z-index: 10;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mh-project-gallery .grid-item figure figcaption:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(0.95);
    -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(0.95);
    -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(0.95);
    -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(0.95);
    -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(0.95);
    z-index: -1;
    opacity: 0;
}

.mh-project-gallery .grid-item figure figcaption .fa {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 35px;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    top: 45%;
    margin-top: -22px;
    transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -o-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -ms-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -moz-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -webkit-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0;
    letter-spacing: 0px;
}

.mh-project-gallery .grid-item figure figcaption .title {
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    right: 0;
    font-size: 18px;
    line-height: 30px;
    text-transform: capitalize;
    top: 50%;
    margin-top: 30px;
    margin-top: -2px;
    transform: translateX(80px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -o-transform: translateX(80px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -ms-transform: translateX(80px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -moz-transform: translateX(80px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -webkit-transform: translateX(80px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0;
    letter-spacing: 0px;
}

.mh-project-gallery .grid-item figure figcaption .sub-title {
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    left: 0;
    font-size: 13px;
    top: 50%;
    margin-top: 30px;
    transform: translateX(-70px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -o-transform: translateX(-70px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -ms-transform: translateX(-70px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -moz-transform: translateX(-70px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -webkit-transform: translateX(-70px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    opacity: 0;
    letter-spacing: 0px;
}

.mh-project-gallery .grid-item figure figcaption a {
    position: absolute;
    z-index: 1111;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    text-indent: -99999px;
}

.mh-project-gallery .grid-item figure:hover {
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mh-project-gallery .grid-item figure:hover figcaption {
    color: #fff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgba(11, 206, 175, 0.9);
}

.mh-project-gallery .grid-item figure:hover figcaption:after {
    opacity: 1;
    transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -o-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -ms-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -moz-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -webkit-transform: translateX(0) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.mh-project-gallery .grid-item figure:hover figcaption .fa {
    transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -o-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -ms-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -moz-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -webkit-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    opacity: 1;
}

.mh-project-gallery .grid-item figure:hover figcaption .title {
    transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -o-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -ms-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -moz-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -webkit-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    opacity: 1;
}

.mh-project-gallery .grid-item figure:hover figcaption .sub-title {
    transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -o-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -ms-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -moz-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -webkit-transform: translateX(0px) translateY(0) translateZ(0) rotate(0deg) scale(1);
    -moz-transition: 0.6s;
    -o-transition: 0.6s;
    -webkit-transition: 0.6s;
    transition: 0.6s;
    opacity: 1;
}

.home-ov-img {
    background-image: url(../images/header-bg-2.png);
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-position: center center;
}

.mh-featured-project .mh-featured-item {
    margin: 30px 0;
}

.mh-featured-project .mh-featured-item .mh-featured-project-content .project-category {
    font-size: 14px;
    color: #0bceaf;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.mh-featured-project .mh-featured-item .mh-featured-project-content h2 {
    letter-spacing: 2px;
    margin-top: 12px;
    margin-bottom: 12px;
    text-transform: uppercase;
}

.mh-featured-project .mh-featured-item .mh-featured-project-content span {
    text-transform: uppercase;
}

.mh-featured-project .mh-featured-item .mh-featured-project-content p {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 20px;
}

.mh-featured-project .mh-featured-item .mh-featured-project-content .mh-testimonial blockquote {
    padding: 0;
    margin: 0;
    margin-top: 30px;
}

.mh-featured-project .mh-featured-item .mh-featured-project-content .mh-testimonial blockquote q {
    font-style: italic;
}

.mh-featured-project .mh-featured-item .mh-featured-project-content .mh-testimonial blockquote q::before {
    content: open-quote;
}

.mh-featured-project .mh-featured-item .mh-featured-project-content .mh-testimonial blockquote q::after {
    content: close-quote;
}

.mh-featured-project .mh-featured-item .mh-featured-project-content .mh-testimonial blockquote cite {
    display: block;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    margin-top: 10px;
}

.mh-single-project-slide .owl-controls .owl-nav {
    display: none !important;
}

.mh-single-project-slide .owl-controls .owl-dots {
    padding-left: 15px;
    margin-top: 30px;
    text-align: center;
}

.mh-single-project-slide .owl-controls .owl-dots .owl-dot {
    height: 15px;
    width: 15px;
    border: 1px solid #0bceaf;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
}

.mh-single-project-slide .owl-controls .owl-dots .owl-dot.active {
    background-color: #0bceaf;
}

.mh-single-project-slide-by-side .owl-next {
    position: absolute;
    border-radius: 50%;
    top: 48%;
    height: 50px;
    width: 50px;
    right: -10%;
}

.mh-single-project-slide-by-side .owl-next .fa {
    font-size: 40px;
    margin-left: 15px;
}

.mh-single-project-slide-by-side .owl-prev {
    position: absolute;
    border-radius: 50%;
    top: 48%;
    left: -10%;
    height: 50px;
    width: 50px;
}

.mh-single-project-slide-by-side .owl-prev .fa {
    font-size: 40px;
    margin-left: 10px;
}

.section-title h3 {
    margin-bottom: 60px;
}

.section-title h2 {
    margin-bottom: 60px;
}

/*
    ==============
       SERVICES
    ==============
*/
.codearif-service .codearif-service-item {
    padding: 20px;
}

.codearif-service .codearif-service-item .fa {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 16px;
}

.codearif-service .codearif-service-item .fa.purple-color {
    color: #9774fa;
}

.codearif-service .codearif-service-item .fa.iron-color {
    color: #ed7256;
}

.codearif-service .codearif-service-item .fa.sky-color {
    color: #2796e2;
}

.codearif-service .codearif-service-item h3 {
    margin-bottom: 18px;
    font-size: 25px;
    line-height: 34px;
}

.codearif-service .codearif-service-item a {
    color: #0bceaf;
}

.codearif-service .codearif-service-item a .fa {
    font-size: 16px;
    line-height: 27px;
    margin-left: 6px;
}

/*
=================
BLOG Pagination
=============
*/
.mh-pagination {
    margin: 40px 0;
}

.mh-pagination ul li {
    margin: 0 10px;
}

.mh-pagination .page-link {
    position: relative;
    display: block;
    padding: 12px 16px;
    margin-left: -1px;
    border-radius: 50%;
    line-height: 14px;
    background-color: transparent;
    border: 1px solid #fff;
    font-weight: bold;
}

.mh-pagination .page-link:hover {
    color: #0bceaf;
}

.mh-pagination .page-item:last-child .page-link {
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

.mh-pagination .page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

.codearif-blog-sidebar {
    padding: 0 20px;
}

.sidebar-item {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin-bottom: 30px;
    padding: 20px 10px;
}

.sidebar-item h3 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 10px;
}

.mh-author-info {
    text-align: center;
}

.mh-author-info h2 {
    font-size: 24px;
    line-height: 34px;
    margin: 0;
}

.mh-author-info h4 {
    font-size: 14px;
    margin: 0;
    line-height: 24px;
    font-weight: normal;
    margin-bottom: 10px;
}

.mh-author-info .mh-author-img {
    margin: 0 auto;
    margin-bottom: 10px;
    float: none;
    text-align: center;
}

.mh-author-info .mh-author-img img {
    margin: 0 auto;
    text-align: center;
    border: 10px solid rgba(0, 0, 0, 0.17);
    border-radius: 50%;
}

.mh-author-info .img-border {
    height: 130px;
    width: 130px;
    border: 10px solid rgba(0, 0, 0, 0.07);
    margin: 0 auto;
    border-radius: 50%;
}

.mh-author-info .social-icon li a:hover {
    color: #0bceaf;
}

.codearif-blog-category h4 {
    margin: 0;
    margin-bottom: 10px;
}

.codearif-blog-category ul li {
    display: block;
    margin: 2px 0;
}

.codearif-blog-category ul li a:hover {
    color: #0bceaf;
}

.codearif-blog-insta ul li {
    width: 48%;
    display: inline-block;
    margin-bottom: 10px;
}

.codearif-blog-insta ul li img {
    padding-right: 4px;
}

.codearif-blog-post-info {
    margin-bottom: 10px;
}

.codearif-blog-post-info ul li {
    display: inline-block;
    margin: 0 6px;
    margin-left: 0;
}

.codearif-blog-post-info ul li strong {
    margin-right: 6px;
}

.codearif-blog .codearif-blog-item.blog-single h2 {
    font-size: 36px;
    line-height: 40px;
    font-weight: bold;
}

.codearif-blog .codearif-blog-item.blog-single h3 {
    margin-bottom: 10px;
}

.codearif-blog .codearif-blog-item.blog-single ul {
    padding-left: 30px;
    margin-bottom: 20px;
}

.codearif-blog .codearif-blog-item.blog-single ul li {
    list-style-type: circle;
}

.codearif-blog-next-prev-post a {
    color: #0bceaf;
}

.codearif-blog-next-prev-post a .fa {
    margin: 0 4px;
}

.shadow-one {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.mh-related-post {
    padding: 30px;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    margin: 0;
    margin-bottom: 30px;
}

.blog-form-inner {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
        0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 30px;
}

.blog-form-inner h3 {
    margin-top: 0px;
    margin-bottom: 20px;
    font-size: 26px;
    line-height: 34px;
}

.comments {
    margin-top: 20px;
    overflow: hidden;
    margin-bottom: 30px;
}

.comment-deatils span {
    color: #0bceaf;
}

.post-comment {
    margin-top: 30px;
    padding: 30px;
}
